<%= button_to like_path(like_id), 
    remote: true, 
    params: { 
      like: {
        profile_id: profile_id, 
        likeable_id: likeable_id, 
        likeable_type: likeable_type
      } 
    }, 
    form: {id: "like_button" },
    method: :delete do %> 

  <%= inline_svg_tag "svg/favorite.svg" %>  
  <p>Unlike Podcast!</p>

<% end %>
