.container {
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) [center-start] repeat(4,minmax(min-content, 35rem)) [center-end] minmax(3rem, 1fr);
    grid-template-rows: [header-start] min-content [header-end content-start] 1fr [content-end footer-start] min-content[footer-end];
}

.header__container {
    grid-column: 1/-1;
    grid-row: header-start/ header-end;

    display: flex;
    justify-content: space-between;
}

.content__container {
    grid-column: center-start /center-end;
    grid-row: content-start/content-end;
    margin-top: 8rem;
    padding-bottom: 2rem;
}

.footer__container {
    grid-column: 1/-1;
    grid-row: footer-start /footer-end;

    &__container{
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        font-weight: 100;
        background-color: $color-background-dark;
    }
}