.header {
  &__logo {
    width: 13rem;
    height: auto;

    & g {
        fill: $color-signature;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: flex-end;
    
    &-item {
        display: inline;
    }
  }
}