.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(32,32,38,.8);

  &__logo {
    width: 13rem;
    height: auto;

    & g {
        fill: $color-signature;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: flex-end;
    
    &-item {
        display: inline;
    }
  }
}