.podcast-index {
  &__container {
    display:grid;
    grid-template-columns: 1fr 20rem;

    &-main {
      grid-row: 1/-1;
      grid-column: 1/2;
    }

    &-sidebar {
      grid-row: 1/-1;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
    }

  }
  &__nav-list {
    list-style: none;
    margin-top: 3.5rem;
    margin-bottom: 3rem;

    &-item {
      display: inline-block;
      margin-right: 4rem;
      transition: all .5s;
      padding-bottom: .8rem;
    }
  }
}

#pagy-hidden {
}

.hidden-nav {
  display: none;
}