.review-list{
  &__container{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    column-gap: 2rem;
    border-top: 1px solid rgba($color-light-gray-1, .5);
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  &__user-icon{
    width: 5rem;
    height: 5rem;
    fill: white;
  }

  &__date{
    &-container{
      display: flex;
      align-items: center;
    }

    &-icon{
      width: 1.3rem;
      height: 1.3rem;
      fill: white;
      margin-right: .4rem;
    }

    &-text{
      font-size: 1.3rem;
      font-weight: 100;
    }
  }

  &__header{
    &-container{
      display: flex;
    }

    &-username{
      font-weight: 700;
      display: inline-block;
      margin-left: .2rem;
      margin-right: 1rem; 
    }

    &-detail-link{
      font-weight: 100;
    }

    &-icon{
      width: 2rem;
      height: 2rem;
      fill: $color-gold;
    }
  }

  &__review-text{
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0;
  }
}