<%# anchor link %>
<%= link_to root_path do %>
  <%= inline_svg_tag "podlogo.svg", class: "header__logo" %>
<% end %>

<%# search form partial %>
<%= render 'shared/search-bar' %>

<%# login links %>
<nav>
  <ul class="header__list">
    <li class="header__list-item">
    Profile
    </li>
    <li class="header__list-item">
    Login
    </li>
    <li class="header__list-item">
    Register
    </li>
  </ul>
</nav>