<div class="searchbar__container">
  <%= form_with url: "/podcasts" , method: :get, class: "searchbar__form" do |form|  %>
    <%= form.search_field :query %>
    <button type="submit" class="searchbar__button">Search!</button>
  <% end %>
</div>