<h1>Welcome to Pod People!!!</h1>
<p>Pod People is the best way to find out where to start when discovering new podcasts!</p>
<p>
Pod People covers <%= @podcast_count %> of the most popular Podcasts in the iTunes directory, with  <%= @episode_count %> episodes and counting!
</p>